/*
	###############################
	#                             #
	#           Imports           #
	#                             #
	###############################
*/
@import '_variables';
@import '_mixins';

/*
	###############################
	#                             #
	#       General style         #
	#                             #
	###############################
*/
.orange
{
  color : $orange !important;
}

.black
{
  color : black !important;
}

.white
{
  color : white !important;
}

.no-padding
{
  padding-right : 0 !important;
  padding-left  : 0 !important;
}

.fa-padding
{
  margin-right : 15px;
}

.text-bold
{
  font-weight: bold;
}

.underline
{
  border-bottom: 2px solid $orange;
}

.no-btn
{
  top         : 0 !important;
  margin      : 0 !important;
  padding     : 4px !important;
  color       : white;
}

.no-btn:hover,
.no-btn.focus
{
 color : white; 
}

textarea
{
  margin-bottom : 7px;
}

.bgOrangeSoft 
{
  background-color: rgba(255, 114, 0, 0.16);
  border-color    : rgba(255, 114, 0, 0.30); 
}

.reset-btn-modal
{
  font-size       : 1rem !important;
  top             : 0 !important;
  right           : 0 !important;
  padding-top     : 18px;
  padding-bottom  : 19px;  
}

#deconnexion-btn
{
    padding-top    : 12px;
    padding-bottom : 14px;
    margin-left    : 1px;
}

table
{
  width : calc(100% - 20px);
}

.button-group form
{
  display:inline-block;
}
/*
	###############################
	#                             #
	#     Overload Foundation     #
	#                             #
	###############################
*/
:-moz-placeholder
{
  /* Firefox 18- */
  color   : #777777 !important;
  opacity : 0.60 !important;
}

::-moz-placeholder
{
  /* Firefox 19+ */
  color   : #777777 !important;
  opacity : 0.60 !important;
}

div
{
  box-sizing      : border-box;
  -moz-box-sizing : border-box;
}

.row
{
  max-width : 80rem !important;
}

a:hover
{
  color           : $orange_soft;
  text-decoration : none;
}

.row,
.row > .row
{
  max-width : 100%;
  width     : 100%;
}

.top-bar,
.top-bar-section ul.left li,
.top-bar-section ul.right li,
.top-bar-section li:not(.has-form) a:hover:not(.button),
.top-bar-section li:not(.has-form) a:not(.button),
.top-bar-section ul li,
.top-bar-section ul li:hover
{
  background : $black !important;
}

.pagination-centered
{
  margin-top : 15px;
}

button, .button
{
  @include box-shadow(0, -5px, 0, 0, rgba(0, 0, 0, 0.08), inset);
  color       : white;
  font-weight : bold;
}

.error, span.error, small.error
{
  margin-top: -1rem;
  font-weight: bold;
  font-style: normal !important;
}

/*
	###############################
	#                             #
	# Navigation bar (top of App) #
	#                             #
	###############################
*/
.nav-bar
{
  margin-bottom : 25px;
}

.nav-bar-link ul li a
{
  font-size   : 1rem;
  font-weight : bold;
}

.nav-bar-link ul.left li,
.nav-bar-link ul.right li
{
  padding-left  : 30px;
  padding-right : 30px;
}

.nav-bar-link ul.left li
{
  border-right : 1px solid $orange;
}

.nav-bar-link ul.right li
{
  border-left : 1px solid $orange;
}

.nav-bar-link ul li a i
{
  color         : $orange;
  padding-right : 10px;
}

/* Hover */
.top-bar-section ul li a i.fa-home:hover
{
  color                      : white;
  text-decoration            : underline;
  text-decoration-color      : $orange;
  -moz-text-decoration-color : $orange; /* Code for Firefox */
}

.top-bar-section ul li a:hover
{
  text-decoration            : underline;
  text-decoration-color      : $orange;
  -moz-text-decoration-color : $orange; /* Code for Firefox */
}

/*
	###############################
	#                             #
	#   Common style in webApp    #
	#                             #
	###############################
*/
.main-content
{
  margin-bottom : 30px !important;
}

.main-title
{
  text-align    : center;
  margin-bottom : 50px;
}

.main-title span
{
  border-bottom : 1px solid $orange;
}

.second-title
{
  text-align    : left;
  margin-bottom : 30px;
}

.second-title span
{
  border-bottom : 1px solid $orange;
}

#modalTitle
{
  @include text-decoration($orange);
  font-weight : bold;
}

.btn-form
{
  line-height : normal !important;
  margin      : 0px 0px 1.25rem !important;
  padding     : 1rem 2rem 1.0625rem !important;
  font-size   : 1rem !important;
  color       : white !important;
  position: relative !important;
  top: auto !important;
  right: auto !important;
}

/*
	###############################
	#                             #
	#   Footer (Bottom of App)    #
	#                             #
	###############################
*/
